.theme-ui {
  --cols: 2;
  --gap: 1.5rem;
}

.palette .details-wrapper {
  flex-wrap: wrap;
  display: flex;
  gap: var(--gap);
}

.palette .form-item {
  margin: 0;
}

.palette__item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / var(--cols) - var(--gap) / var(--cols) * (var(--cols) - 1));
  gap: var(--gap);
}

@media (max-width: 992px) {
  .palette__item {
    --cols: 1;
  }
}

.palette__item--full {
  flex-basis: 100%;
}

.color-example {
  padding: 0.5em 1em;
}
