/*! @convivial_bootstrap/button */

// Overridden Bootstrap reset
button:focus:not(:focus-visible) {
  outline: $btn-outline-width $btn-outline-style var(--standard-focus);
}

// Default button
.btn {
  --#{$prefix}btn-box-shadow: none;
  --#{$prefix}btn-focus-box-shadow: none;

  &:focus,
  &:focus-visible {
    outline: $btn-outline-width $btn-outline-style var(--standard-focus);
    outline-offset: $outline-offset;

    // Disable ring, box shadow
    box-shadow: none;
  }
}

.btn-link {
  --#{$prefix}btn-color: var(--standard-link);
  --#{$prefix}btn-hover-color: var(--standard-link-hover);
  --#{$prefix}btn-active-color: var(--standard-link-focus);
}

.btn-primary {
  @include convivial-button-variant(
    $background: var(--standard-accent),
    $color: $lighten-90,
    $hover: var(--standard-accent-hover),
    $active: var(--standard-accent-active),
  );
}

.btn-secondary {
  @include convivial-button-variant(
    $background: var(--standard-link),
    $color: $lighten-90,
    $hover: var(--standard-link-hover),
    $active: var(--standard-link-active),
  );
}

.btn-outline-primary {
  @include convivial-button-outline-variant(
    $color: var(--standard-accent),
    $color-hover: $lighten-90,
    $hover: var(--standard-accent-hover),
    $active: var(--standard-accent-active),
  );
}

.btn-outline-secondary {
  @include convivial-button-outline-variant(
    $color: var(--standard-link),
    $color-hover: $lighten-90,
    $hover: var(--standard-link-hover),
    $active: var(--standard-link-active),
  );
}
