.decision-tree {
  .step {
    ul {
      @extend .title;

      padding: 0;
      margin: 0;
    }

    li {
      @extend .title__title;

      padding: 0;
      list-style: none;

      + li {
        border-top: 0;
      }
    }
  }
}

.decision-tree__summary,
.decision-tree__footer {
  margin-top: $grid-gutter-width;
}
