/*! @convivial_bootstrap/hide */

.hide-branding {
  .bs-header__content,
  .footer {
    display: none;
  }
}

.hide-mobile {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.hide-desktop {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
