/*! @convivial_bootstrap/color-palettes */

// Define CSS variables
:root {
  --alt-text: var(--foreground-weak);
  --border-color: var(--background-weaker);
}

.cp {
  --alt-text: var(--foreground-weak);
  --border-color: var(--background-weaker);

  padding: $section-spacing;
  border-radius: var(--radius-box);

  @include media-breakpoint-up(md) {
    padding-top: $section-spacing-md;
    padding-bottom: $section-spacing-md;
  }

  &.modifiers-has-background {
    overflow: hidden;
  }
}

[class*="cp--"] {
  color: var(--foreground);
  background-color: var(--background);
}

[class*="cp cp--"] {
  background: linear-gradient(45deg, var(--background), var(--background-strong));
}

// Edgy layout
.layout--content-edgy,
.layout.edgy {
  .cp {
    border-radius: 0;
  }
}
