/*! @convivial_bootstrap/nav */

$sidebar-nav-link-border-radius: var(--radius);
$sidebar-nav-link-hover-fg: var(--background);
$sidebar-nav-link-hover-bg: var(--link);
$sidebar-nav-link-hover-bg-darken: var(--link-hover);
$sidebar-nav-link-active-fg: var(--alt-foreground);
$sidebar-nav-link-active-bg: var(--alt-background);
$sidebar-nav-link-outline-color: var(--link-active);
$sidebar-nav-row-gap: 2px;

.nested-nav {
  list-style: none;
}

.nav-link {
  &:focus-visible {
    outline: $outline-width $outline-style;
    outline-offset: $outline-offset;
    box-shadow: none;
  }
}

// Sidebar nav.
.layout__region--sidebar {
  nav[role="navigation"] {

    // Override JS inline style.
    .nested-nav {
      position: relative !important; // Override JS inline style.
      transform: unset !important; // Override JS inline style.
      margin: 0 !important; // Override JS inline style.
    }

    .main-menu__heading {
      @extend h3;

      margin-bottom: $sidebar-nav-row-gap;

      a {
        display: flex;
        flex-grow: 1;
        padding: 0.5rem;
        border-radius: $sidebar-nav-link-border-radius;
        text-decoration: none;

        &:hover {
          color: $sidebar-nav-link-hover-fg;
          background: $sidebar-nav-link-hover-bg;
        }

        &:focus {
          color: $sidebar-nav-link-hover-fg;
          background: $sidebar-nav-link-hover-bg;
          outline-offset: 0;
        }

        &:active,
        &.active {
          color: $sidebar-nav-link-active-fg;
          background: $sidebar-nav-link-active-bg;
        }
      }
    }

    .nav {
      display: flex;
      flex-direction: column;
      flex: 1;
      row-gap: $sidebar-nav-row-gap;
    }

    .nested-nav {
      display: none;
      padding: 0;
      border: 0;
      border-radius: 0;
      z-index: auto;

      &.dropdown-menu.show {
        display: flex;
        flex-direction: column;
        flex: 1;
        flex-basis: 100%;
        row-gap: $sidebar-nav-row-gap;
      }
    }

    .nav-link {
      display: flex;
      border-radius: $sidebar-nav-link-border-radius;
      padding: 0.5rem;
      flex-grow: 1;

      &:focus {
        outline-offset: 0;
        z-index: 1;
      }

      &:focus-visible {
        outline: 2px solid $sidebar-nav-link-outline-color;
        box-shadow: none;
      }
    }

    .dropdown-toggle {
      position: relative;
      display: flex;
      flex: 0;
      padding: 0.5rem;
      border-radius: $sidebar-nav-link-border-radius;
      text-decoration: none;

      &:focus {
        outline-offset: 0;
      }

      &:after {
        content: '\F229';
        font-family: 'bootstrap-icons';
        display: inline-block;
        vertical-align: middle;
        border: 0;
      }

      &.show {
        &:after {
          content: '\F235';
        }
      }
    }

    .btn-group {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 0;
      border: 0;
      flex-basis: 100%;
      row-gap: $sidebar-nav-row-gap;

      > .nav-link {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      > .dropdown-toggle {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .nav-item {
      .nav-link {
        &:active,
        &.active {
          color: $sidebar-nav-link-active-fg;
          background: $sidebar-nav-link-active-bg;
        }

        &:hover {
          color: $sidebar-nav-link-hover-fg;
          background: $sidebar-nav-link-hover-bg;

          &:has(+.dropdown-toggle.show) {
            color: $sidebar-nav-link-hover-fg;
            background: $sidebar-nav-link-hover-bg;
          }
        }

        &:has(+.dropdown-toggle.show) {
          color: $sidebar-nav-link-active-fg;
          background: $sidebar-nav-link-active-bg;
        }
      }

      .dropdown-toggle {
        &:hover {
          color: $sidebar-nav-link-hover-fg;
          background: $sidebar-nav-link-hover-bg;
        }

        &:active,
        &.show {
          color: $sidebar-nav-link-active-fg;
          background: $sidebar-nav-link-active-bg;

          &:hover {
            color: $sidebar-nav-link-hover-fg;
            background: $sidebar-nav-link-hover-bg;
          }
        }
      }

      // Nav item's active state
      &.is-active {
        > .nav-link,
        > .dropdown-toggle {
          color: $sidebar-nav-link-active-fg;
          background: $sidebar-nav-link-active-bg;

          &:hover {
            color: $sidebar-nav-link-hover-fg;
            background: $sidebar-nav-link-hover-bg;
          }
        }
      }
    }

    // Indent
    .nav {
      .nav-link {
        padding-left: 1rem;
      }
    }

    .nested-nav {
      .nav-link {
        padding-left: 1.5rem;
      }

      .nested-nav {
        .nav-link {
          padding-left: 2rem;
        }
      }
    }
  }
}
