/*! @convivial_bootstrap/media */

///
// Embedded media.
///

// Alignment.
.align-left {
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.align-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-right {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

// Prevents from adding margin to view modes.
.media-entity:not(:only-child) {
  margin-bottom: 1rem;
}

// Image view modes.
.media-entity--type-image {
  &.media-entity--view-mode-tiny {
    &.align-left {
      margin-right: 1rem;
    }

    &.align-right {
      margin-left: 1rem;
    }
  }

  // Half view modes max width 50% of it's container.
  &.media-entity--view-mode-half,
  &.media-entity--view-mode-half-wide {
    @include media-breakpoint-up(md) {
      max-width: 50%;

      &.align-left {
        max-width: calc(50% - 1rem);
      }

      &.align-right {
        max-width: calc(50% - 1rem);
      }
    }
  }

  // Large and Half view modes pops open on mobile.
  &.media-entity--view-mode-half,
  &.media-entity--view-mode-half-wide,
  &.media-entity--view-mode-large {
    @include media-breakpoint-down(md) {
      &.align-left,
      &.align-right {
        float: none;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  // Whole view mode always pops open.
  &.media-entity--view-mode-whole,
  &.media-entity--view-mode-whole-wide {
    &.align-left,
    &.align-right {
      float: none;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

// Images with caption.
figure.drupal-media {
  display: table;

  .media-entity.media-entity--type-image {
    margin-bottom: 0;
  }

  // Tiny view modes.
  &:has(> .media-entity--view-mode-tiny) {
    margin-right: 1rem;

    &.align-left {
      margin-right: 1rem;
    }

    &.align-right {
      margin-left: 1rem;
    }
  }

  // Half view modes max width 50% of it's container.
  &:has(> .media-entity--view-mode-half),
  &:has(> .media-entity--view-mode-half-wide) {
    max-width: 50%;

    &.align-left,
    &.align-right {
      max-width: calc(50% - 1rem);
    }

    .media-entity--view-mode-half,
    .media-entity--view-mode-half-wide {
      max-width: unset;
    }
  }

  // Whole view mode always pops open.
  &:has(> .media-entity--view-mode-whole),
  &:has(> .media-entity--view-mode-whole-wide) {
    &.align-left,
    &.align-right {
      float: none;
      margin-left: 0;
      margin-right: 0;
    }
  }

  // View modes with caption pops open on mobile.
  @include media-breakpoint-down(md) {
    &.align-left,
    &.align-right {
      float: none;
      margin-left: 0;
      margin-right: 0;
    }
  }

  figcaption {
    display: table-caption;
    font-size: $font-size-sm;
    padding: 0.5rem 0.75rem;
    background: rgba(0, 0, 0, 0.05);
    word-break: break-word;
    caption-side: bottom;
  }

  .media-entity--view-mode-tiny {
    + figcaption {
      padding: 0.25rem 0.5rem;
    }
  }
}

// Transcript.
.transcript {
  .accordion-body {
    font-size: $font-size-base;
  }
}
