/*! @convivial_bootstrap/summary */
.summary {
  .hide-info & {
    .summary__info {
      display: none;
    }
  }
}

.summary__content {
  // All regions has one third unit gap between them.
  *[class*='summary__'] + *[class*='summary__'] {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}

.summary__info {
  color: var(--alt-text);
}

.summary__title {
  margin-top: 0;
}

.summary__date {
  @include font-size($small-font-size);

  color: var(--alt-text);
}
